// ==========================================================================
// Icon
// ==========================================================================

.icon {
  display: inline-block;
  transition: fill 0.25s ease-in-out;
  vertical-align: middle;
}