// ==========================================================================
// Variables
// ==========================================================================

// Colors

$black: #000;
$white: #fff;

$color-black: $black;
$color-white: $white;

$color-foreground: $black;
$color-background: $white;

// Fonts
$font-default: 'Roboto', sans-serif;
$font-title: 'DSTitle', sans-serif;
$font-sans-serif: 'Roboto', sans-serif;
$font-serif: 'DSTitle', serif;
$font-code: Courier, monospace;

// Font-weight
$light: 300;
$regular: normal;
